In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from math import sqrt
from scipy import stats
import seaborn as sns
from pydataset import data
from fredstats import get_db_url, make_df_from_db
from env import host, user, password

In [2]:
#Make the normal curve for the given data
office1 = stats.norm(90, 15)
office2 = stats.norm(100, 20)

In [3]:
#We're comparing two groups, so we'll nead there means and std-devs.
xbar1 = office1.mean()
xbar2 = office2.mean()

#Trial size was given in question
n1 = 40
n2 = 50

s1 = office1.std()
s2 = office2.std()

In [4]:
#Taking a little off
degf = n1 + n2 - 2

In [5]:
#This one is a doozy.
s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))

In [6]:
#This might be unecessary for this question.
standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

In [7]:
#This is the score we're going to find out.
#This is that crazy long 2-Sample T Test formula written out in Python
t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))

In [14]:
t

-2.6252287036468456

In [17]:
#more than .99 of t-values are higher than this t score
stats.t(degf).sf(t)

0.9948950737753803

In [18]:
stats.t(degf).cdf(t)

0.005104926224619695

In [19]:
stats.t(degf).pdf(t)

0.013882685754167083

In [ ]:
#Got these from an online 2-sample T-Test app
# Equal Variances
# Pooled Standard Deviation: 17.9567
# Pooled DF: 88
# 95% Confidence Interval for the Difference ( -17.3355 , -2.6645 )

# Test Statistic t= -2.6252
# Population 1 â‰  Population 2: P-Value = 0.0102
# Population 1 < Population 2: P-Value = 0.9949
# Population 1 > Population 2: P-Value = 0.0051

In [22]:
mpg = data('mpg')

In [23]:
mpg.trans = mpg.trans.str[:-4]

In [26]:
mpg.head()

  manufacturer model  displ  year  cyl   trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto   f   16   26  p  compact

In [35]:
pop_city_mileage = mpg.cty.mean()
auto_city_mileage = mpg[mpg.trans == 'auto'].cty

In [36]:
stats.ttest_1samp(auto_city_mileage, pop_city_mileage)

Ttest_1sampResult(statistic=-2.9001322447463838, pvalue=0.004268839797630685)

In [37]:
#Do volkswagens get better mileage than the all other cars on the highway?
#null = Volksagen.mean == all_cars.mean

In [39]:
volks_hwy_mileage = mpg[mpg.manufacturer == 'volkswagen'].hwy

In [42]:
mpg.hwy.mean()

23.44017094017094

In [43]:
stats.ttest_1samp(volks_hwy_mileage, mpg.hwy.mean())

Ttest_1sampResult(statistic=5.652041311757083, pvalue=6.068818710469792e-06)

Is there a linear relationship between city and highway mileage?

In [45]:
x = mpg.hwy

In [46]:
y = mpg.cty

In [47]:
r, p = stats.pearsonr(x,y)

In [48]:
r

0.9559159136495723

In [49]:
p

1.8683071952618993e-125

Is there a linear relationship between engine displacment and city mileage?

In [50]:
X = mpg.displ
Y = mpg.cty

In [51]:
R, P = stats.pearsonr(X,Y)

In [52]:
R

-0.7985239689348551

In [53]:
P

4.737914890205637e-53

There is a negative correlation that is statistically significant between engine displacement and city mileage.

CORRELATIONS

1.
Use the telco_churn data.

In [44]:
url = get_db_url(user, host, password, "telco_churn")
df = make_df_from_db(url, 'customers')

Does tenure correlate with monthly charges?   service?

In [88]:
#correlation between tenure and monthly charges
corr, pvalue = stats.pearsonr(df.tenure, df.monthly_charges)

In [87]:
print(f"The correlation is at {corr} and the p-value is {pvalue}, so we can reject the null hypothesis.")

The correlation is at 0.24789985628615013 and the p-value is 4.0940449915016345e-99, so we can reject the null hypothesis.

Total charges?

In [30]:
df.total_charges.sort_values(ascending=True).head(11)

2855
3118
3052
5433
1731
4054
2176
2250
945
1906
2025
Name: total_charges, dtype: object

In [33]:
df.iloc[2855].total_charges

' '

In [47]:
df = df[df.total_charges != ' ']

In [50]:
df.total_charges = df.total_charges.astype(float)

In [53]:
corr, p = stats.pearsonr(df.total_charges, df.monthly_charges)

In [57]:
print(f"The correlation is at {corr} and the p-value is {p}, so we can reject the null hypothesis.")

The correlation is at 0.6510648032262025 and the p-value is 0.0, so we can reject the null hypothesis.

What happens if you control for phone and internet

2. Use the employees database.

In [11]:
url = get_db_url(user, host, password, "employees")
#Gonna use Kevin's custom SQL select to get all the data in one DF

In [12]:
employees = pd.read_sql('''SELECT
    e.*,
    datediff('2002-09-30', e.hire_date) tenure,
    t.title,
    t.from_date title_from,
    datediff('2002-09-30', t.from_date) t_tenure,
    et.titles,
    s.salary,
    s.from_date salary_from,
    datediff('2002-09-30', s.from_date) s_tenure,
    es.salaries
FROM
    employees e
JOIN 
    titles t 
    USING(emp_no)
JOIN 
    salaries s 
    USING(emp_no)
JOIN
    (SELECT 
        emp_no,
        count(*) titles
    FROM
        titles
    GROUP BY
        emp_no) et
    USING(emp_no)
JOIN
    (SELECT 
        emp_no,
        count(*) salaries
    FROM
        salaries
    GROUP BY
        emp_no) es
    USING(emp_no)
WHERE
    s.to_date > '2002-09-30'
    AND t.to_date > '2002-09-30';
''', url)

In [13]:
employees.head()
#Kevin already has a tenure column. So lets just find correlation between that and salary!

,emp_no,birth_date,first_name,last_name,gender,hire_date,tenure,title,title_from,t_tenure,titles,salary,salary_from,s_tenure,salaries
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,5940,Senior Engineer,1986-06-26,5940,1,88958,2002-06-22,100,17
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,6157,Staff,1996-08-03,2249,1,72527,2001-08-02,424,6
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,5877,Senior Engineer,1995-12-03,2493,1,43311,2001-12-01,303,7
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,5782,Senior Engineer,1995-12-01,2495,2,74057,2001-11-27,307,16
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,4766,Senior Staff,1996-09-12,2209,2,94692,2001-09-09,386,13

In [135]:
corr, pvalue = stats.pearsonr(employees.tenure, employees.salary)

Is there a relationship between how long an employee has been with the company and their salary?

In [138]:
print(f"The correlation is at {corr}, which is less than what I'd call a correlation, and the p-value is {pvalue}.")

The correlation is at 0.3064625613186075, which is less than what I'd call a correlation, and the p-value is 0.0.

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [139]:
corr, pvalue = stats.pearsonr(employees.tenure, employees.titles)

In [140]:
print(f"The correlation is at {corr}, which is less than what I'd call a correlation, and the p-value is {pvalue}.")

The correlation is at 0.28712678896997174, which is less than what I'd call a correlation, and the p-value is 0.0.

3.Use the sleepstudy data. Is there a relationship between days and reaction time?

In [14]:
sleep_data = data('sleepstudy')

In [22]:
corr, pvalue = stats.pearsonr(sleep_data.Days, sleep_data.Reaction)

In [23]:
print(f"The correlation is middling at {corr}, but {pvalue} is too small not to reject H0.")

The correlation is middling at 0.5352302262650254, but 9.89409632221453e-15 is too small not to reject H0.

CHI-SQUARE TEST

1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

In [141]:
index=['Has Macbook','No Macbook']
columns=['Codeup Student','Not Student']

In [142]:
observations = pd.DataFrame([[49,20],[1,30]],index=index, columns=columns)

In [145]:
chi2, p, degf, expected = stats.chi2_contingency(observations)

In [146]:
p

1.4116760526193828e-09

In [147]:
print(f"The {p} is very low, so it'd be safe to reject the null hypothesis that these observed values are evenly distributed.")

The 1.4116760526193828e-09 is very low, so it'd be safe to reject the null hypothesis that these observed values are evenly distributed.

2.Choose another 2 categorical variables from the mpg dataset and perform a 
c
h
i
2
 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [171]:
#Crosstab to find the observed values of two categorical variables.
#This can be plugged into the stats.chi2_contigency() function to get the
#chi score, pvalue, degreeOfFreedom and the expected values
car_observations = pd.crosstab(mpg.year, mpg.trans)

Null Hypothesis: There is no correlation between the they year a car was made and their transmission.
Alt Hypothesis:  There is a correlation between the two. THEY ARE NOT SIGNIFICANT!

In [172]:
#117 cars in two years, so there ouugth to be a 50/50 split if it were evenly distributed
car_observations

trans  auto  manual
year
1999     74      43
2008     83      34

In [165]:
chi2, p, degf, expected = stats.chi2_contingency(car_observations)

In [166]:
expected

array([[78.5, 38.5],
       [78.5, 38.5]])

In [173]:
p

0.2657001056392438

In [174]:
print(f"The p-value of {p} is large enough for the null hypothesis to not be rejected")

The p-value of 0.2657001056392438 is large enough for the null hypothesis to not be rejected

3.Use the data from the employees database to answer these questions:

In [7]:
url = get_db_url(host,user,password,'employees')

In [14]:
emp_df = pd.read_sql_table('employees', url)

In [15]:
de_df = pd.read_sql_table('dept_emp', url)

In [16]:
d_df = pd.read_sql_table('departments', url)

In [9]:
#join them

In [17]:
df_merged = pd.merge(emp_df, de_df, how='inner', on = 'emp_no')

In [18]:
df_merged = pd.merge(df_merged, d_df, how='inner', on = 'dept_no')

In [ ]:
#they're merged

In [19]:
df_merged.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,dept_no,from_date,to_date,dept_name
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,d005,1986-06-26,NaT,Development
1,10006,1953-04-20,Anneke,Preusig,F,1989-06-02,d005,1990-08-05,NaT,Development
2,10008,1958-02-19,Saniya,Kalloufi,M,1994-09-15,d005,1998-03-11,2000-07-31,Development
3,10012,1960-10-04,Patricio,Bridgland,M,1992-12-18,d005,1992-12-18,NaT,Development
4,10014,1956-02-12,Berni,Genin,M,1987-03-11,d005,1993-12-29,NaT,Development

In [25]:
# making boolean series for a team sales 
sales_and_marketing = df_merged[(df_merged['dept_name'] == "Sales") | (df_merged['dept_name'] == "Marketing")]

In [36]:
#Only current employees. So their to-date should be a null value
sales_and_marketing = sales_and_marketing[sales_and_marketing.to_date.isnull()]

,emp_no,birth_date,first_name,last_name,gender,hire_date,dept_no,from_date,to_date,dept_name
85707,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,d007,1996-08-03,NaT,Sales
85708,10016,1961-05-02,Kazuhito,Cappelletti,M,1995-01-27,d007,1998-02-11,NaT,Sales
85710,10041,1959-08-27,Uri,Lenart,F,1989-11-12,d007,1989-11-12,NaT,Sales
85711,10050,1958-05-21,Yinghua,Dredge,M,1990-12-25,d007,1992-11-05,NaT,Sales
85712,10053,1954-09-13,Sanjiv,Zschoche,F,1986-02-04,d007,1994-11-13,NaT,Sales
85714,10061,1962-10-19,Tse,Herber,M,1985-09-17,d007,1989-12-02,NaT,Sales
85715,10068,1962-11-26,Charlene,Brattka,M,1987-08-07,d007,1987-08-07,NaT,Sales
85718,10089,1963-03-21,Sudharsan,Flasterstein,F,1986-08-12,d007,1989-01-10,NaT,Sales
85719,10093,1964-06-11,Sailaja,Desikan,M,1996-11-05,d007,1997-06-08,NaT,Sales
85720,10095,1965-01-03,Hilari,Morton,M,1986-07-15,d007,1994-03-10,NaT,Sales
85721,10099,1956-05-25,Valter,Sullins,F,1988-10-18,d007,1988-10-18,NaT,Sales
85723,10107,1956-06-13,Dung,Baca,F,1994-03-22,d007,1999-03-30,NaT,Sales
85726,10148,1957-10-04,Douadi,Azumi,M,1995-10-10,d007,1996-07-15,NaT,Sales
85728,10151,1959-03-06,Itzchak,Lichtner,M,1990-04-10,d007,1992-12-12,NaT,Sales
85729,10160,1953-10-18,Debatosh,Khasidashvili,M,1989-01-30,d007,1993-12-06,NaT,Sales
85730,10178,1963-03-13,Valery,Litvinov,M,1986-10-07,d007,1994-03-21,NaT,Sales
85731,10185,1959-12-05,Duro,Sidhu,F,1986-03-01,d007,1986-03-01,NaT,Sales
85732,10199,1959-04-07,Kazuhisa,Ranta,M,1997-04-29,d007,1998-02-07,NaT,Sales
85733,10209,1956-12-12,Yolla,Ellozy,F,1991-11-23,d007,1999-08-07,NaT,Sales
85734,10214,1962-04-14,Tadahiko,Ciolek,M,1988-02-29,d007,1988-02-29,NaT,Sales
85735,10215,1954-04-02,Xiaobin,Duclos,M,1987-10-19,d007,1991-11-23,NaT,Sales
85736,10226,1964-12-28,Xinglin,Plessier,M,1989-10-27,d007,1996-01-29,NaT,Sales
85738,10232,1956-03-11,Marko,Auria,F,1992-06-04,d007,1992-06-04,NaT,Sales
85740,10236,1960-03-26,Susumu,Bade,F,1996-08-30,d007,1996-08-30,NaT,Sales
85742,10243,1960-12-22,Wonhee,Pouyioutas,M,1985-11-24,d007,1986-06-07,NaT,Sales
85743,10248,1955-09-24,Frederique,Tempesti,F,1991-08-13,d007,1991-08-13,NaT,Sales
85745,10254,1959-12-07,Shen,Brattka,M,1990-06-14,d007,1990-06-14,NaT,Sales
85746,10256,1960-12-02,Irene,Radhakrishnan,M,1985-10-12,d007,1985-10-12,NaT,Sales
85747,10262,1955-08-04,Mahendra,Maraist,F,1992-07-27,d007,1996-01-22,NaT,Sales
85748,10270,1963-01-30,Bedir,Hartvigsen,F,1990-04-26,d007,1991-09-26,NaT,Sales
85749,10273,1962-08-29,Baocai,Lieblein,M,1985-11-06,d007,1985-11-06,NaT,Sales
85750,10277,1964-08-15,Isaac,Schwartzbauer,M,1985-06-16,d007,1985-06-16,NaT,Sales
85751,10291,1965-01-23,Dipayan,Seghrouchni,M,1986-09-29,d007,1987-03-30,NaT,Sales
85752,10292,1963-01-27,Yucel,Ghelli,F,1989-06-05,d007,1989-06-05,NaT,Sales
85753,10296,1964-05-13,Petter,Lorho,M,1989-09-16,d007,1989-09-16,NaT,Sales
85754,10299,1960-06-21,Ipke,Stentiford,F,1990-01-10,d007,1990-01-10,NaT,Sales
85757,10306,1953-06-02,Heng,Kilgour,M,1993-09-06,d007,1993-09-06,NaT,Sales
85758,10308,1961-03-14,Dzung,Holburn,F,1992-12-29,d007,1992-12-29,NaT,Sales
85759,10314,1961-05-04,Christfried,Apsitis,M,1986-01-16,d007,1986-01-16,NaT,Sales
85760,10319,1963-03-09,Mechthild,Miyakawa,M,1985-08-15,d007,1994-06-18,NaT,Sales
85763,10330,1957-02-02,Kasturi,Bellmore,M,1985-06-12,d007,1993-10-08,NaT,Sales
85764,10331,1961-08-12,Arto,Binkley,M,1985-04-06,d007,1986-10-29,NaT,Sales
85767,10355,1952-12-10,Satyanarayana,Cochrane,M,1987-11-15,d007,1996-01-26,NaT,Sales
85768,10361,1961-04-22,Seshu,Sidou,F,1986-10-23,d007,1986-10-23,NaT,Sales
85769,10369,1957-01-08,Qunsheng,Toyoshima,M,1986-05-17,d007,1994-09-05,NaT,Sales
85770,10370,1957-08-03,Clyde,Fandrianto,M,1992-04-04,d007,1992-04-18,NaT,Sales
85772,10375,1957-10-09,Dante,Kalafatis,F,1994-05-29,d007,1994-05-29,NaT,Sales
85773,10378,1964-09-05,Takahira,Lichtner,M,1990-12-30,d007,1992-08-31,NaT,Sales
85774,10380,1956-05-25,Alejandro,Kamble,F,1985-03-19,d007,1985-03-19,NaT,Sales
85775,10388,1953-03-29,Hironoby,Kaiser,M,1996-03-24,d007,1999-05-28,NaT,Sales
85776,10398,1958-07-16,Shooichi,Escriba,F,1990-10-12,d007,1990-10-12,NaT,Sales
85777,10399,1957-06-13,Guenter,Marchegay,F,1985-05-07,d007,2000-01-26,NaT,Sales
85778,10400,1961-12-16,Ortrud,Nitto,M,1993-10-17,d007,1993-10-17,NaT,Sales
85780,10407,1955-07-05,Ulf,Siepmann,M,1990-03-08,d007,1999-10-30,NaT,Sales
85781,10408,1964-03-17,Martijn,Kaiser,M,1998-10-07,d007,1998-10-07,NaT,Sales
85783,10411,1956-07-10,Lidong,Klerer,F,1989-09-02,d007,1989-09-02,NaT,Sales
85784,10417,1964-02-02,Bingning,Bakhtari,M,1992-03-12,d007,1999-06-27,NaT,Sales
85785,10427,1958-08-13,Khosrow,Sudbeck,F,1991-11-01,d007,1994-10-03,NaT,Sales
85786,10431,1961-05-25,Patricio,Bugrara,M,1987-10-08,d007,1987-10-08,NaT,Sales
85788,10444,1956-07-29,Kazuhira,Rosis,M,1993-03-31,d007,1994-10-23,NaT,Sales
85789,10448,1963-12-10,Phule,Oxenboll,F,1992-03-12,d007,1992-03-12,NaT,Sales
85791,10454,1961-01-22,Wonhee,Badr,M,1987-04-10,d007,1989-04-16,NaT,Sales
85792,10455,1963-12-17,Sverrir,Streng,F,1989-02-14,d007,1995-02-19,NaT,Sales
85793,10458,1961-01-06,Gina,Engelmann,F,1988-07-23,d007,1994-07-05,NaT,Sales
85794,10461,1956-10-26,Gal,Karcich,M,1987-08-03,d007,1987-08-03,NaT,Sales
85795,10463,1954-05-20,Ung,Zaiane,M,1987-12-25,d007,1994-02-17,NaT,Sales
85796,10468,1960-08-28,Yoshimitsu,Shobatake,M,1991-05-28,d007,1991-05-28,NaT,Sales
85798,10490,1961-09-28,Huiqun,Vuskovic,F,1992-10-07,d007,1992-11-22,NaT,Sales
85799,10493,1962-01-12,Maris,Haraldson,M,1992-05-16,d007,1998-10-29,NaT,Sales
85800,10499,1953-10-04,Maik,Luft,F,1989-11-23,d007,1998-03-16,NaT,Sales
85801,10504,1953-04-07,Xiong,Varker,M,1988-12-03,d007,1999-10-19,NaT,Sales
85803,10509,1953-10-03,Abdelwaheb,Riesenhuber,F,1990-02-23,d007,1992-10-06,NaT,Sales
85806,10517,1953-06-18,Tiina,Speek,M,1990-12-25,d007,1990-12-25,NaT,Sales
85807,10521,1957-07-31,Kwangsub,Setia,M,1989-05-11,d007,1989-05-11,NaT,Sales
85809,10532,1959-08-31,Mary,Wossner,F,1986-05-18,d007,1986-05-18,NaT,Sales
85810,10533,1963-06-25,Mohamadou,Smailagic,F,1986-10-31,d007,1990-08-17,NaT,Sales
85811,10536,1964-10-29,Yechiam,Sambasivam,F,1988-03-25,d007,1988-10-07,NaT,Sales
85812,10537,1962-06-29,Stella,Benzmuller,M,1996-09-25,d007,1996-09-25,NaT,Sales
85813,10539,1959-05-13,Yucel,Reinhard,M,1990-06-05,d007,1990-06-05,NaT,Sales
85817,10559,1956-01-18,Arumugam,Comellas,F,1988-01-06,d007,1999-04-05,NaT,Sales
85818,10561,1958-09-07,Serge,Joslin,F,1990-12-15,d007,1997-06-30,NaT,Sales
85820,10568,1953-12-02,Gao,Poulakidas,F,1989-02-14,d007,1995-07-08,NaT,Sales
85822,10573,1964-02-23,Tetsushi,Speel,F,1993-07-07,d007,1999-08-20,NaT,Sales
85823,10592,1964-08-01,Almudena,Alvarado,M,1990-06-05,d007,1993-09-27,NaT,Sales
85824,10596,1954-01-24,Sanjit,Coors,M,1995-04-01,d007,1996-05-23,NaT,Sales
...,...,...,...,...,...,...,...,...,...,...
314145,498497,1960-05-27,Kiyotoshi,Ibel,F,1991-04-04,d001,1991-04-04,NaT,Marketing
314146,498515,1955-04-12,Yuchang,Narlikar,M,1995-08-09,d001,1995-08-09,NaT,Marketing
314147,498523,1963-08-20,Taizo,Anger,M,1992-02-14,d001,1992-02-14,NaT,Marketing
314148,498526,1953-11-24,Vasilii,Decleir,F,1990-08-22,d001,1993-03-01,NaT,Marketing
314150,498549,1957-05-28,Froduald,Lienhardt,M,1988-01-12,d001,1994-02-25,NaT,Marketing
314151,498552,1958-04-12,Ibibia,Grospietsch,F,1989-07-11,d001,1992-11-22,NaT,Marketing
314153,498566,1956-05-30,Vojin,Ferretti,M,1993-01-15,d001,1993-01-15,NaT,Marketing
314154,498573,1957-06-15,Theron,Reinhard,F,1990-05-17,d001,1990-12-03,NaT,Marketing
314155,498592,1961-03-12,Fumitake,Zielinski,M,1989-10-02,d001,2002-03-09,NaT,Marketing
314156,498600,1961-11-08,Takahiro,Mayerwieser,M,1995-08-05,d001,1995-08-05,NaT,Marketing
314157,498602,1963-10-03,Jaroslava,Hertweck,F,1988-11-08,d001,1992-06-03,NaT,Marketing
314158,498608,1964-10-15,Amalendu,Litvinov,M,1985-08-20,d001,1986-10-06,NaT,Marketing
314159,498610,1953-06-13,Hidekazu,Blokdijk,M,1996-12-04,d001,1996-12-04,NaT,Marketing
314160,498616,1964-11-29,Tru,Suomi,M,1990-06-10,d001,1995-10-18,NaT,Marketing
314161,498631,1962-01-24,Herbert,Kalsbeek,M,1986-06-07,d001,1986-06-07,NaT,Marketing
314162,498660,1954-11-24,Vojin,Neiman,M,1985-08-19,d001,1985-08-19,NaT,Marketing
314163,498661,1961-12-20,Boutros,Hasenauer,F,1989-03-23,d001,1989-03-23,NaT,Marketing
314164,498666,1953-05-29,Dmitry,Bellmore,F,1993-09-16,d001,1993-09-16,NaT,Marketing
314165,498669,1962-08-19,Elvia,Zeilberger,M,1986-06-09,d001,1986-06-09,NaT,Marketing
314166,498672,1955-08-13,Hisao,Orlowski,F,1994-06-08,d001,1997-10-01,NaT,Marketing
314168,498737,1953-06-27,Sachin,Schaap,F,1988-07-11,d001,1990-06-19,NaT,Marketing
314169,498757,1959-04-04,Khedija,Demian,M,1993-12-28,d001,2002-04-30,NaT,Marketing
314170,498758,1964-05-30,Keiichiro,Scharstein,M,1995-07-22,d001,1999-09-04,NaT,Marketing
314171,498782,1961-06-15,Sibyl,Deyuan,F,1986-08-31,d001,1986-08-31,NaT,Marketing
314172,498783,1958-03-12,Rosella,Lorin,F,1992-06-11,d001,1992-06-11,NaT,Marketing
314173,498787,1955-06-18,Erzsebet,Perng,M,1986-08-29,d001,1991-12-09,NaT,Marketing
314174,498813,1958-10-11,Slavian,Couchot,M,1985-11-13,d001,1991-05-30,NaT,Marketing
314175,498862,1954-07-11,Zissis,Ranum,M,1987-09-05,d001,1995-11-14,NaT,Marketing
314177,498911,1960-04-08,Rosli,Baumann,F,1990-06-24,d001,1990-06-24,NaT,Marketing
314179,498926,1958-11-12,Gonzalo,Waeselynck,F,1986-05-08,d001,1989-05-14,NaT,Marketing
314180,498930,1955-08-23,Hisao,Matzov,F,1987-07-16,d001,1996-06-22,NaT,Marketing
314181,498934,1955-07-27,Perla,Biran,M,1989-06-16,d001,1989-06-16,NaT,Marketing
314182,498937,1959-07-15,Katsuyuki,Hopewell,M,1997-02-07,d001,2002-04-01,NaT,Marketing
314183,498940,1952-09-22,Adly,Seiwald,M,1996-11-11,d001,1996-11-11,NaT,Marketing
314185,498974,1961-05-19,Abdelwaheb,Bala,M,1987-06-28,d001,1995-04-27,NaT,Marketing
314186,498979,1964-03-25,Toshiko,Lindqvist,F,1989-06-16,d001,1995-05-11,NaT,Marketing
314188,499016,1963-12-15,Christophe,Brizzi,M,1987-04-29,d001,1998-12-07,NaT,Marketing
314189,499017,1962-05-22,Steen,Famili,F,1986-09-17,d001,1993-10-17,NaT,Marketing
314190,499025,1953-10-18,Volkmar,Rosch,M,1991-04-30,d001,1991-04-30,NaT,Marketing
314191,499026,1961-04-28,Lena,Schade,F,1985-07-13,d001,1987-01-02,NaT,Marketing
314192,499077,1955-06-28,Huei,Taneja,F,1989-08-15,d001,1989-08-15,NaT,Marketing
314195,499128,1953-02-14,Conal,Swiler,F,1986-06-18,d001,1986-06-18,NaT,Marketing
314196,499144,1955-11-05,Heping,Tempesti,M,1992-02-28,d001,1992-02-28,NaT,Marketing
314198,499152,1958-02-15,Yongqiao,Heusch,M,1985-07-24,d001,1985-07-24,NaT,Marketing
314199,499159,1954-07-24,Hauke,Bashian,M,1992-04-21,d001,1992-04-21,NaT,Marketing
314200,499161,1958-11-29,Kasturi,Zucker,M,1989-10-24,d001,1995-02-02,NaT,Marketing
314202,499172,1956-12-17,Brendon,Hofting,F,1989-10-04,d001,1989-10-04,NaT,Marketing
314203,499187,1957-02-01,Beshir,Plessier,M,1990-12-10,d001,1992-01-29,NaT,Marketing
314205,499201,1958-11-02,Abdelkader,Ghazalie,F,1989-01-01,d001,2000-01-16,NaT,Marketing
314207,499216,1964-10-28,Zhensheng,Ranai,F,1987-07-08,d001,1996-08-04,NaT,Marketing
314208,499221,1956-04-17,Shuichi,Monkewich,M,1985-03-18,d001,1995-10-15,NaT,Marketing
314209,499226,1963-02-02,Radhika,Chiola,M,1990-05-27,d001,1990-05-27,NaT,Marketing
314211,499250,1963-04-11,Khue,Callaway,M,1998-09-09,d001,1999-04-15,NaT,Marketing
314212,499277,1960-06-06,Danai,Vigier,F,1990-08-06,d001,1993-11-11,NaT,Marketing
314213,499293,1960-02-01,Aiichiro,Antonakopoulos,M,1991-05-20,d001,1991-06-02,NaT,Marketing
314217,499441,1957-04-19,Heeju,Buescher,F,1988-01-26,d001,1995-04-17,NaT,Marketing
314219,499453,1952-03-19,Alper,Peck,F,1985-03-03,d001,1994-02-20,NaT,Marketing
314220,499467,1958-08-23,Yoshinari,Hanabata,M,1990-04-15,d001,1990-08-30,NaT,Marketing
314221,499479,1959-03-29,Xiaoshan,Sigstam,F,1986-02-03,d001,1988-03-30,NaT,Marketing
314224,499542,1957-02-17,Luerbio,Leaver,F,1986-03-13,d001,1998-03-26,NaT,Marketing
314225,499591,1959-02-02,Gritta,Szmurlo,M,1988-10-29,d001,1988-10-29,NaT,Marketing
314226,499597,1961-01-03,Divier,Bergere,M,1990-09-05,d001,1995-10-13,NaT,Marketing
314227,499600,1957-12-07,Sastry,Solovay,M,1993-11-03,d001,1998-11-27,NaT,Marketing
314229,499632,1961-05-29,Vesna,Attimonelli,F,1988-02-01,d001,2001-12-10,NaT,Marketing
314231,499646,1959-11-12,Mohua,Kusakari,M,1986-11-20,d001,1986-11-20,NaT,Marketing
314232,499665,1955-03-02,Keiichiro,Champarnaud,M,1988-01-16,d001,1988-01-16,NaT,Marketing
314233,499689,1955-07-30,Kinh,Sommer,F,1985-03-08,d001,1996-01-27,NaT,Marketing
314235,499697,1958-03-24,Shaowei,Kitai,M,1996-03-11,d001,1996-04-29,NaT,Marketing
314236,499757,1961-06-10,Fox,Kugler,M,1994-12-07,d001,1999-03-30,NaT,Marketing
314238,499764,1954-12-23,Zengping,Peir,M,1988-10-29,d001,1988-10-29,NaT,Marketing
314239,499768,1956-05-13,Billie,Remmele,M,1992-11-16,d001,1999-06-05,NaT,Marketing
314240,499784,1959-04-12,Turgut,Levasseur,F,1985-04-15,d001,1987-10-11,NaT,Marketing
314241,499788,1957-07-02,Matk,Goodrum,M,1994-04-25,d001,1995-03-30,NaT,Marketing
314242,499798,1953-08-20,Gopalakrishnan,Maierhofer,F,1990-01-03,d001,1996-06-12,NaT,Marketing
314243,499814,1960-12-28,Georgi,Wielonsky,M,1989-01-31,d001,1989-01-31,NaT,Marketing
314244,499828,1955-02-17,Rosalie,Slobodova,M,1989-06-21,d001,1999-11-27,NaT,Marketing
314246,499849,1954-10-12,Moriyoshi,Pusterhofer,F,1993-11-13,d001,1993-11-13,NaT,Marketing
314247,499852,1962-09-17,JiYoung,Coney,F,1986-05-24,d001,1986-05-24,NaT,Marketing
314248,499860,1963-03-19,Becky,Dahlbom,M,1989-03-17,d001,1989-03-17,NaT,Marketing
314249,499879,1958-12-31,Stafford,Goodrum,M,1995-04-18,d001,1995-04-18,NaT,Marketing
314250,499884,1961-03-15,Adhemar,Gist,F,1988-11-19,d001,1990-05-13,NaT,Marketing
314252,499934,1957-02-19,Tonia,Butner,F,1991-01-02,d001,1993-02-21,NaT,Marketing
314254,499968,1959-03-07,Dharmaraja,Ertl,M,1991-10-08,d001,1991-10-08,NaT,Marketing
314255,499970,1963-03-25,Danai,Hedayat,M,1994-08-06,d001,1995-01-09,NaT,Marketing
314256,499992,1960-10-12,Siamak,Salverda,F,1987-05-10,d001,1995-05-31,NaT,Marketing

In [37]:
observos = pd.crosstab(sales_and_marketing.gender, sales_and_marketing.dept_name)

In [38]:
chi2, p, degfree, expected = stats.chi2_contingency(observos)

Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

In [39]:
print(f"The x2 score is {chi2} and the p-value is {p}.")

The x2 score is 0.13113229997285258 and the p-value is 0.7172609083882837.

Is an employee's gender independent of whether or not they are or have been a manager?

In [20]:
dm_df = pd.read_sql_table('dept_manager', url)

In [55]:
manag_exp = np.ones(24, dtype=bool)

In [56]:
dm_df['man_exp'] = manag_exp

In [57]:
dm_df.head()

   emp_no dept_no  from_date    to_date  man_exp
0  110022    d001 1985-01-01 1991-10-01     True
1  110039    d001 1991-10-01        NaT     True
2  110085    d002 1985-01-01 1989-12-17     True
3  110114    d002 1989-12-17        NaT     True
4  110183    d003 1985-01-01 1992-03-21     True

In [58]:
df_managers = pd.merge(emp_df, dm_df, how='left', on = 'emp_no')

In [60]:
manager_observos = pd.crosstab(df_managers.gender, df_managers.man_exp)

In [61]:
chi2, p, degfree, expected = stats.chi2_contingency(observos)

In [62]:
chi2

0.13113229997285258

In [63]:
print(f"The x2 score is {chi2} and the p-value is {p}.")

The x2 score is 0.13113229997285258 and the p-value is 0.7172609083882837.