In [21]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from math import sqrt
from scipy import stats
import seaborn as sns
from pydataset import data

In [2]:
#Make the normal curve for the given data
office1 = stats.norm(90, 15)
office2 = stats.norm(100, 20)

In [9]:
#We're comparing two groups, so we'll nead there means and std-devs.
xbar1 = office1.mean()
xbar2 = office2.mean()

#Trial size was given in question
n1 = 40
n2 = 50

s1 = office1.std()
s2 = office2.std()

In [10]:
#Taking a little off
degf = n1 + n2 - 2

In [11]:
#This one is a doozy.
s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))

In [12]:
#This might be unecessary for this question.
standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

In [13]:
#This is the score we're going to find out.
#This is that crazy long 2-Sample T Test formula written out in Python
t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))

In [14]:
t

-2.6252287036468456

In [17]:
#more than .99 of t-values are higher than this t score
stats.t(degf).sf(t)

0.9948950737753803

In [18]:
stats.t(degf).cdf(t)

0.005104926224619695

In [19]:
stats.t(degf).pdf(t)

0.013882685754167083

In [ ]:
#Got these from an online 2-sample T-Test app
# Equal Variances
# Pooled Standard Deviation: 17.9567
# Pooled DF: 88
# 95% Confidence Interval for the Difference ( -17.3355 , -2.6645 )

# Test Statistic t= -2.6252
# Population 1 â‰  Population 2: P-Value = 0.0102
# Population 1 < Population 2: P-Value = 0.9949
# Population 1 > Population 2: P-Value = 0.0051

In [22]:
mpg = data('mpg')

In [23]:
mpg.trans = mpg.trans.str[:-4]

In [26]:
mpg.head()

  manufacturer model  displ  year  cyl   trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto   f   16   26  p  compact

In [35]:
pop_city_mileage = mpg.cty.mean()
auto_city_mileage = mpg[mpg.trans == 'auto'].cty

In [36]:
stats.ttest_1samp(auto_city_mileage, pop_city_mileage)

Ttest_1sampResult(statistic=-2.9001322447463838, pvalue=0.004268839797630685)

In [37]:
#Do volkswagens get better mileage than the all other cars on the highway?
#null = Volksagen.mean == all_cars.mean

In [39]:
volks_hwy_mileage = mpg[mpg.manufacturer == 'volkswagen'].hwy

In [42]:
mpg.hwy.mean()

23.44017094017094

In [43]:
stats.ttest_1samp(volks_hwy_mileage, mpg.hwy.mean())

Ttest_1sampResult(statistic=5.652041311757083, pvalue=6.068818710469792e-06)

Is there a linear relationship between city and highway mileage?

In [45]:
x = mpg.hwy

In [46]:
y = mpg.cty

In [47]:
r, p = stats.pearsonr(x,y)

In [48]:
r

0.9559159136495723

In [49]:
p

1.8683071952618993e-125

Is there a linear relationship between engine displacment and city mileage?

In [50]:
X = mpg.displ
Y = mpg.cty

In [51]:
R, P = stats.pearsonr(X,Y)

In [52]:
R

-0.7985239689348551

In [53]:
P

4.737914890205637e-53

There is a negative correlation that is statistically significant between engine displacement and city mileage.