In [58]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from math import sqrt
from scipy import stats
import seaborn as sns
from pydataset import data
from fredstats import get_db_url, make_df_from_db
from env import host, user, password

In [2]:
#Make the normal curve for the given data
office1 = stats.norm(90, 15)
office2 = stats.norm(100, 20)

In [9]:
#We're comparing two groups, so we'll nead there means and std-devs.
xbar1 = office1.mean()
xbar2 = office2.mean()

#Trial size was given in question
n1 = 40
n2 = 50

s1 = office1.std()
s2 = office2.std()

In [10]:
#Taking a little off
degf = n1 + n2 - 2

In [11]:
#This one is a doozy.
s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))

In [12]:
#This might be unecessary for this question.
standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

In [13]:
#This is the score we're going to find out.
#This is that crazy long 2-Sample T Test formula written out in Python
t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))

In [14]:
t

-2.6252287036468456

In [17]:
#more than .99 of t-values are higher than this t score
stats.t(degf).sf(t)

0.9948950737753803

In [18]:
stats.t(degf).cdf(t)

0.005104926224619695

In [19]:
stats.t(degf).pdf(t)

0.013882685754167083

In [ ]:
#Got these from an online 2-sample T-Test app
# Equal Variances
# Pooled Standard Deviation: 17.9567
# Pooled DF: 88
# 95% Confidence Interval for the Difference ( -17.3355 , -2.6645 )

# Test Statistic t= -2.6252
# Population 1 â‰  Population 2: P-Value = 0.0102
# Population 1 < Population 2: P-Value = 0.9949
# Population 1 > Population 2: P-Value = 0.0051

In [22]:
mpg = data('mpg')

In [23]:
mpg.trans = mpg.trans.str[:-4]

In [26]:
mpg.head()

  manufacturer model  displ  year  cyl   trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto   f   16   26  p  compact

In [35]:
pop_city_mileage = mpg.cty.mean()
auto_city_mileage = mpg[mpg.trans == 'auto'].cty

In [36]:
stats.ttest_1samp(auto_city_mileage, pop_city_mileage)

Ttest_1sampResult(statistic=-2.9001322447463838, pvalue=0.004268839797630685)

In [37]:
#Do volkswagens get better mileage than the all other cars on the highway?
#null = Volksagen.mean == all_cars.mean

In [39]:
volks_hwy_mileage = mpg[mpg.manufacturer == 'volkswagen'].hwy

In [42]:
mpg.hwy.mean()

23.44017094017094

In [43]:
stats.ttest_1samp(volks_hwy_mileage, mpg.hwy.mean())

Ttest_1sampResult(statistic=5.652041311757083, pvalue=6.068818710469792e-06)

Is there a linear relationship between city and highway mileage?

In [45]:
x = mpg.hwy

In [46]:
y = mpg.cty

In [47]:
r, p = stats.pearsonr(x,y)

In [48]:
r

0.9559159136495723

In [49]:
p

1.8683071952618993e-125

Is there a linear relationship between engine displacment and city mileage?

In [50]:
X = mpg.displ
Y = mpg.cty

In [51]:
R, P = stats.pearsonr(X,Y)

In [52]:
R

-0.7985239689348551

In [53]:
P

4.737914890205637e-53

There is a negative correlation that is statistically significant between engine displacement and city mileage.

1.
Use the telco_churn data.

In [91]:
url = get_db_url(user, host, password, "telco_churn")
df = make_df_from_db(url, 'customers')

Does tenure correlate with monthly charges? Total charges?  service?

In [88]:
#correlation between tenure and monthly charges
corr, pvalue = stats.pearsonr(df.tenure, df.monthly_charges)

In [87]:
print(f"The correlation is at {corr} and the p-value is {pvalue}, so we can reject the null hypothesis.")

The correlation is at 0.24789985628615013 and the p-value is 4.0940449915016345e-99, so we can reject the null hypothesis.

What happens if you control for phone and internet

2. Use the employees database.

In [128]:
url = get_db_url(user, host, password, "employees")
df = make_df_from_db(url, 'employees')

In [129]:
df.columns

Index(['emp_no', 'birth_date', 'first_name', 'last_name', 'gender',
       'hire_date'],
      dtype='object')

0         1986-06-26
1         1985-11-21
2         1986-08-28
3         1986-12-01
4         1989-09-12
5         1989-06-02
6         1989-02-10
7         1994-09-15
8         1985-02-18
9         1989-08-24
10        1990-01-22
11        1992-12-18
12        1985-10-20
13        1987-03-11
14        1987-07-02
15        1995-01-27
16        1993-08-03
17        1987-04-03
18        1999-04-30
19        1991-01-26
20        1988-02-10
21        1995-08-22
22        1989-12-17
23        1997-05-19
24        1987-08-17
25        1995-03-20
26        1989-07-07
27        1991-10-22
28        1985-11-20
29        1994-02-17
30        1991-09-01
31        1990-06-20
32        1987-03-18
33        1988-09-21
34        1988-09-05
35        1992-01-03
36        1990-12-05
37        1989-09-20
38        1988-01-19
39        1993-02-14
40        1989-11-12
41        1993-03-21
42        1990-10-20
43        1994-05-21
44        1989-09-02
45        1992-06-20
46        1989-03-31
47        1985-02-24
48        1992-05-04
49        1990-12-25
50        1992-10-15
51        1988-05-21
52        1986-02-04
53        1995-03-13
54        1992-04-27
55        1990-02-01
56        1992-01-15
57        1987-04-13
58        1991-06-26
59        1987-11-02
60        1985-09-17
61        1991-08-30
62        1989-04-08
63        1985-11-20
64        1988-05-18
65        1986-02-26
66        1987-03-04
67        1987-08-07
68        1989-11-05
69        1985-10-14
70        1987-10-01
71        1988-07-21
72        1991-12-01
73        1990-08-13
74        1987-03-19
75        1985-07-09
76        1990-03-02
77        1987-05-26
78        1986-03-27
79        1985-11-19
80        1986-10-30
81        1990-01-03
82        1987-03-31
83        1995-12-15
84        1994-04-09
             ...
299939    1989-02-22
299940    1997-05-18
299941    1986-02-24
299942    1992-05-13
299943    1991-01-09
299944    1986-04-17
299945    1989-08-19
299946    1986-07-03
299947    1993-04-08
299948    1998-08-04
299949    1991-10-29
299950    1985-08-16
299951    1988-03-13
299952    1985-03-30
299953    1996-05-12
299954    1988-03-23
299955    1988-04-27
299956    1990-09-27
299957    1993-05-28
299958    1991-01-02
299959    1991-09-27
299960    1994-10-31
299961    1987-02-03
299962    1993-04-18
299963    1988-11-27
299964    1986-04-25
299965    1994-02-04
299966    1997-02-10
299967    1987-09-09
299968    1988-07-03
299969    1987-03-02
299970    1986-02-21
299971    1989-02-19
299972    1993-01-28
299973    1987-01-31
299974    1991-06-05
299975    1985-03-17
299976    1990-01-07
299977    1985-02-23
299978    1990-08-09
299979    1993-03-06
299980    1994-10-12
299981    1987-02-25
299982    1989-12-17
299983    1991-11-08
299984    1989-09-16
299985    1988-07-04
299986    1995-06-20
299987    1989-08-07
299988    1988-11-10
299989    1985-05-26
299990    1985-06-13
299991    1996-08-15
299992    1991-10-08
299993    1992-02-16
299994    1994-08-06
299995    1989-02-26
299996    1989-11-23
299997    1994-02-01
299998    1989-09-16
299999    1992-01-23
300000    1988-12-26
300001    1996-09-17
300002    1990-05-24
300003    1994-01-04
300004    1991-02-11
300005    1991-03-07
300006    1986-02-21
300007    1989-08-28
300008    1985-09-11
300009    1997-02-11
300010    1985-08-11
300011    1998-09-20
300012    1986-06-06
300013    1993-10-28
300014    1985-10-10
300015    1989-01-12
300016    1987-05-10
300017    1997-04-07
300018    1990-04-24
300019    1993-01-12
300020    1990-09-27
300021    1986-04-21
300022    1993-10-13
300023    1997-11-30
Name: hire_date, Length: 300024, dtype: object

Is there a relationship between how long an employee has been with the company and their salary?

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [ ]:
url = get_db_url(user, host, password, "telco_churn")
df = make_df_from_db(url, 'customers')